<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computacion Grafica</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
   <body>
    <header>
      <nav>
          <div class="logo">
              <h4>Computacion Grafica</h4>
          </div>
      </nav>       
  </header>
  <main class="main">
    <div class="container">
     <form enctype="multipart/form-data">
        <label for="porcentaje"> %</label>       
        <input class="boton" type="text" id="porcentaje">
        <label for="valor-a"> A</label>       
        <input class="boton" type="text" id="valor-a">
        <label for="valor-b"> B</label>       
        <input class="boton" type="text" id="valor-b">
        <label for="valor-c"> C</label>       
        <input class="boton" type="text" id="valor-c">
        <label for="valor-r">R</label>
        <input class="barra" type="range" id="valor-r" name="valor" min="1" max="2" step="0.1" oninput="this.form.amountInput.value=this.value" />
        <input id=out type="number" name="amountInput" min="1" max="2" value="1.5" step="0.1" oninput="this.form.valor.value=this.value" />
        <label for="operador">Operadores</label>
        <select name="opcion" id="operador">
            <option value="raizC">RaizC</option>
            <option value="exponencial">Exponencial</option>
            <option value="logaritmo">Logaritmo</option>
            <option value="equalizacion">Equalizacion</option>
            <option value="contrast">Contrast</option>
            <option value="thresholding">Thresholding</option>
        </select>
        <button type="submit">Calcular</button>
     </form>
    </div>    

    <div class="imagen">
      <input type="file" id="file" name="file"/>
      <img src="" id="imagen"/>
    </div> 
  </main>   
  <script src="/static/js/app.js"></script> 
   </body>
</html>